.external-Method {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.home-Button {
    border-radius: 5px;
    background-color: rgb(145, 202, 255);
    color: white;
    font-size: 20px;
    text-align: center;
}

.allOddNumberedElements {
    background-color: rgb(255, 146, 155);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#theSecondElement {
    color: rgb(000,000,255);
    font-size: 36px;
}

.theThirdElement {
    font-size: 24px;
}

#theFourthElement {
    background-color: rgb(177, 255, 190);
    font-size: 24px;
    font-weight: bold;
}

.clickMe,
.noClickMe {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.clickMe {
    background-color: black;
    color: white;
}

.noClickMe {
    background-color: yellow;
}

.propertionned {
    width: 300px;
    height: auto;
}

.distorted {
    width: 300px;
    height: 600px;
}

.container .styledParagraphElement {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}